* {
    box-sizing: border-box;
}

body{
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
}

.nav-items {
    display: flex;
}

.nav-link {
    align-self: center;
}

.nav-link > a {
    padding: 0 5px;
    color: #aaaaaa;
    text-decoration: none;
}

.nav-link > a:hover {
    padding: 0 5px;
    color: #ffffff;
    text-decoration: none;
}

.class {
    margin: 0;
    font-size: 2em;
}